.signup1_main{
    width: auto;
    display: block;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_container{
    width: 50%;
    top: 10%;
    left: 50%;
    box-shadow: 1px 1px 5px 1px #dadce0 ;
}

.panel{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 15px;
    
}

.panel > div > div >input{
    width: 75%;
    margin-left: 12.25%;
}

.panel > h2{
    margin-top: 30px;
}

.select{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.select > div{
    position: relative;
    width: 40%;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 7px;
}

.select > div > button{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    height: 50px;
}

.signup_button{
    width: 20%;
    margin-left: 40%;
    margin-bottom: 15px;
}

.inform_box{
    display: inline-block;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 10px;
    background: rgb(239, 239, 239);
}