
.main-wrap .main-wrap-header {
  text-align: left;
  margin-top: 80px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #23a6f0;
}

.main-wrap .main-wrap-headline {
  text-align: left;
  margin-top: 35px;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
}

.main-wrap .main-wrap-btns {
  text-align: left;
  margin-top: 35px;
}
.main-wrap .main-wrap-btns button {
  width: 133px;
  height: 52px;
}
.main-wrap .main-wrap-btns .main-btns-join {
  background-color: #23a6f0;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
}

.main-wrap .main-wrap-btns .main-btns-learn {
  border-radius: 5px;
  color: #23a6f0;
  background: #fff;
  border: 1px solid #23a6f0;
}

.main-img-border1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #ffc7d4;
  border-radius: 50%;
  width: 631px;
  height: 639px;
}
.border1-circle {
  position: absolute;
  top: 0;
  left: 220px;
  width: 23px;
  height: 23px;
  background: #ff265a;
  border-radius: 50%;
}
.main-img-border2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #ffc7d4;
  border-radius: 50%;
  width: 482px;
  height: 482px;
}
.main-img-border3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #ffc7d4;
  border-radius: 50%;
  width: 311px;
  height: 311px;
}
.border3-circle1 {
  position: absolute;
  top: 0;
  right: 92px;
  width: 15px;
  height: 15px;
  background: #ff265a;
  border-radius: 50%;
}
.border3-circle2 {
  position: absolute;
  bottom: 0;
  left: 92px;
  width: 15px;
  height: 15px;
  background: #ff265a;
  border-radius: 50%;
}
.main-img-border4 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #ffc7d4;
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.center-img {
  display: block;
  width: 121px;
  height: 121px;
  border-radius: 50%;
}

.border3-circle-img {
  display: block;
  position: absolute;
  top: -21px;
  left: 30px;
  width: 81px;
  height: 81px;
  border-radius: 50%;
}

.border2-circle-img {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 81px;
  height: 81px;
  border-radius: 50%;
}

.border1-circle-img {
  display: block;
  position: absolute;
  bottom: 60px;
  right: 40px;
  width: 81px;
  height: 81px;
  border-radius: 50%;
}
