.tuto_container{
    display: flex;
    flex-direction: row;
  }
  
  .tuto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 5%;
    left: 25%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
  }
  
  .tuto.active{
    transform: scale(1);
  }
  
  .t_box{
    width: 500px;
    height: 450px;
    border-top: 2px solid rgba(188, 188, 188, 0.5);
  
  }