ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.posts {
  display: flex;
  width: 75%;
  margin: auto;
  margin-top: 100px;
  text-align: left;
}
.sidebar {
  display: block;
  width: 300px;
  float: left;
  z-index: 1000;
  will-change: min-height;
  margin-right: 30px;
}
.sidebar-content-wrap {
  position: static;
}
.sidebar-menu {
  border-top: 1px solid #ebeef1;
  padding: 9px 16px 8px;
}
.sidebar-menu-title {
  padding-bottom: 8px;
  line-height: 15px;
  font-size: 12px;
  color: #7b858e;
}
.sidebar-menu-item {
  border-radius: 4px;
  background: #f8f9fa;
}
.sidebar-menu-item > a {
  padding: 8px 12px 7px;
}
.post {
  width: 700px;
  margin-top: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 3px 1px #dadce0;
}
