.introduce_main{

}

.animation{
    width: 80%;
    height: 800px;
    margin-top: 30px;
    margin-left: 10%;
    box-shadow: 1px 1px 5px 1px #dadce0 ;
}

.introduce_container{
    display: flex;
}

.int1_text{
    margin-top: 10%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.int1_img{
    margin-top: 10%;
    margin-left: 20%;
    width: 700px;
    height: 600px;
    background-color:bisque;
}
